@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 96%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}

.jobContainerContainer {
  margin-left: 14.5%;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 85.8%;
  margin-right: 0%;
  min-height: 100%;
  background-color: transparent;
  position: relative;
  padding: 20px;
}

.textTitle {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 10px;
}

.jobContainerTop {
  background-color: white;
  margin-bottom:10px;
  margin-left:32px;
  margin-top: -25px;
  border-radius: 5px;
  width:100%;
  height:14%;
  position: relative;
}

.jobContainerTop hr {
  width: 100%;
  position: absolute;
  top: 55px;
}

.test1 {
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
}

.jobContainerList {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
}

.jobContainerList li {
  margin-right: 20px;
  font-size: 20px;
}

.jobContainerAva {
  display: flex;
  padding: 5px;
}

.jobContainerAva:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.jobContainerAva1 {
  font-size: 15px;
  margin-top: 5px;
  margin-right:5px;
}

.jobContainerAva2 {
  width:30px;
  height:30px ;
  border-radius:50%;
}

.newJobContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 32px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  padding: 40px;
  border-radius: 10px;
}

.inputGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1150px;
  margin-left: -20px;
}

.inputGroup {
  position: relative;
  margin: 20px 0;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.inputGroup label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: green;
  pointer-events: none;
  transition: .5s;
}

.inputGroup input {
  height: 40px;
  font-size: 16px;
  color: black;
  background: transparent;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
  top: -7px;
}
.arrowIcon{
  &:hover{
    background-color: #dedcdc;
    border-radius: 50%;
  }
}