html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 96%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}

.jobcontainerContainer {
  margin-left: 14%;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 86.8%;
  margin-right: 0%;
  min-height: 100%;
  background-color: transparent;
  position: relative;
  padding: 20px;
}
.jobcontainerTop{
  background-color: white;
  margin-bottom:10px;
  margin-left:32px;
  margin-top: -20px;
  border-radius: 5px;
  width:100%;
  height:17%;
  position: relative;
  hr{
    width:100%;
    position:absolute;
    top:65px;
  }
}
.textTitle{
  font-size:18px;
  font-weight:500;
  position:absolute;
  top: 90px;
  left: 10px;
  hr{
    width:100%;
  }
}
.test{
  display:flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%); /* Dịch chuyển phần tử điều chỉnh để nằm chính giữa */
}
.test1{
  position: absolute;
  top: 25px;
  right: 0;
  display:flex;
}

.iconButton {
  margin-top:27px;
  margin-left:10px;
  width: 80px;  /* Chỉnh chiều rộng */
  height: 35px; /* Chỉnh chiều cao */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13a89e;
  border: none;
  border-radius: 5px;
  color:white;
}
.customFil{
  font-size:23px;
  color:white;
}
.jobcontainerList{
  list-style-type: none;
  display:inline-flex;
  padding:0;
  li{
    margin-right:20px;
    font-size: 20px;
  }
}
.jobcontainerAva{
  display:flex;
  padding:5px;
  &:hover{
    cursor:pointer;
    background-color: #f1f1f1;
    border-radius:5px;
  }
}
.jobcontainerAva1{
  font-size: 15px;
  margin-top:5px;
  margin-right:5px;
}
.jobcontainerAva2{
  // font-size: 40px;
  // margin-top:-18px;
  width:30px;
  height:30px ;
  border-radius:50%;
}
.jobcontainerBottom{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 32px;
  flex-wrap: wrap;
  margin-bottom: 55px;
  padding: 40px;
  border-radius: 10px;
}
.addButton{
  margin-left:10px;
  margin-top:30px;
  border-radius:5px;
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  border:none;
  background-color: #13a89e;
  color:white;
}
.customAdd{
  font-size: 23px;
}