.SidebarContainer {
  width: 15%;
  background-color: #263238;
  height: 100vh; /* Đảm bảo sidebar chiếm toàn bộ chiều cao của viewport */
}

.SidebarTop {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d4d6d7;
}

.SidebarLogo {
  width: 100px;
  height: 100px;
}

.SidebarBottom {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.SidebarList {
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.SidebarItem {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #d4d6d7;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.SidebarItem:hover {
  cursor: pointer;
  background-color: #465055; /* Màu nền khi hover */
}

.activeMenu {
  background-color: #465055; /* Màu nền khi được chọn */
  color: #d0eeec;
}

.active {
  background-color: #13a89e; /* Màu nền khi được chọn (Clients/System Logs) */
  color: #d0eeec;
}

.subMenuItem {
  padding-left: 20px; /* Thụt vào cho mục con */
}

.SidebarLink {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.ItemsIcon {
  height: 50px;
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.ItemsTitle {
  height: 50px;
  flex: 70%;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.IconFirst {
  height: 50px;
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.TitleFirst {
  height: 50px;
  flex: 80%;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.SidebarLog {
  align-items: center;
  margin-top: auto;
  margin-bottom: 30px;
  width: 100%;
}

.SidebarAvatar {
  display: flex;
  margin-bottom: 5px;
}

.SidebarAva {
  font-size: 30px;
  color: #d4d6d7;
}

.SidebarName {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  color: #d4d6d7;
}

.SidebarLogList {
  list-style-type: none;
  display: grid;
  place-items: center;
  padding: 0;
  a{
    text-decoration: none;
  }

}

.SidebarButton {
  color: #d4d6d7;
  display: flex;
  height: 35px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #173f3c;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 15px;
}