.setSizeTable {
  width: 1278px;
  height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  border-radius: 5px;

  table {
    border-radius: 5px;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    td {
      padding: 8px;
      max-width: 200px;
        overflow: hidden; // Ẩn nội dung bị tràn ra khỏi khung của ô
        text-overflow: ellipsis; // Hiển thị dấu ba chấm khi nội dung bị tràn
       white-space: nowrap;
    }
    thead tr:first-child {
      position: sticky;
      top: 0;
    }
    border-collapse: collapse;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  button {
    background-color: #13a89e;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 7.5px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  }

  input {
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    text-align: center;
  }

  select {
    margin-left: 10px;
    padding: 5px;
  }

  span {
    margin: 0 5px;
  }

  select {
    background-color: #13a89e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
}