.iconEye {
  cursor: pointer;
  color: black;
  border: none;
  padding: 5px 10px;
  // background-color: #13a89e;
  border-radius: 4px; // Thêm bo góc nếu cần
  transition: background-color 0.3s ease; // Hiệu ứng chuyển màu

  &:hover {
    background-color: darken(#13a89e, 10%); // Tối màu khi hover
  }
}

.text-center {
  text-align: center;
}

.inputGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1150px;
  margin-left: -20px;
}

.inputGroup {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.inputGroup strong {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: green;
  pointer-events: none;
  transition: .5s;
}

.inputGroup input {
  height: 40px;
  font-size: 16px;
  color: black;
  background: transparent;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
}

.clientTop {
  background-color: white;
  margin-bottom:10px;
  margin-left:20px;
  margin-top: -20px;
  border-radius: 5px;
  width:100%;
  height:15%;
  position: relative;
}

.clientTop hr {
  width: 106.5%;
  margin-left: -38px;
  position: absolute;
  top: 45px;
}

.textTitle {
  font-size:16px;
  font-weight:500;
  position:absolute;
  top: 30px;
  left: -28px;
}